//Custom Variables
$primary: #019420;

//Import Functions & Variables
@import '../node_modules/bootstrap/scss/_functions';
@import '../node_modules/bootstrap/scss/_variables';

//Addditonal variables
$custom-theme-colors: (
    "night-slash": #B40FF3,
    "testing": yellow,
    "One-more": #4F69F0
);

$theme-colors: map-merge($custom-theme-colors, $theme-colors); // aggregate maps

//Import Bootstrap
@import '../node_modules/bootstrap/scss/bootstrap';