body {
    font-family: Martian Mono, sans-serif;
    /*background-image: url(../images/Hexagons.jpg);*/
    background: linear-gradient(#E5E5CB 10%,#D5CEA3, #3C2A21);
    color: #E5E5CB;
}

div {
    display: block;
    border: dashed 3px blue;

}
section {
    border: dashed 5px orange;
    display: block;
    background-color: #3C2A21;
}
section:nth-child(odd) {
    background-color: #4E3636;
}
nav {
    position: sticky;
}

nav ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  display: flex;
  text-align: center;
  align-items: center;
  justify-content: center;
}

nav li {
    text-align: center;
    align-items: center;
    justify-content: center;
}

li a {
    display: block;
    color: white;
    font-weight: bold;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

hr {
    margin: 5% 5%;
    background-color: white;
    height: 1px;
    border: none;
}

button {
    margin: 0 auto;
}

.wrapper {
    border: 2px dashed cyan;
    margin: 2% 5%;
}

.flex-container {
    display: flex;
    border: dashed red 2px;
}

.main-container {
    margin: 5% 5% 5% 0;
    padding: 250px 0 0 0;
    text-align: left;
    flex: 70%;
    height: 500px;
}

.sub-container {
    background-color: aqua;
    flex: 33%;
}

.sub-container:nth-child(2) {
    background-color: red;
}

.button {
    display: block;
    background-color: blue;
    cursor: pointer;
    text-decoration: none;
    border-radius: 25px;
    padding: 0 2%;
    border: 1px black;
}

.photo-container {
    justify-content: center;
}

.title {
    background-color: #4f4b4b;
    color: white;
    border-radius: 8px;
    margin: 5% 15%;
    font-size: 12px;
}

.contact-info{
    display: flex;
    margin-right: 5%;
    padding-bottom: 5%;
}

.icon-box {
    position: relative;
    justify-content: space-between;
    align-items: center;
    margin-left: 5px;
    text-align: center;
}

.contact-item {
    align-items: center;
    text-align: center;
    justify-content: center;
    width: 100%;

}